<section id="contact" class="contact">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
        {{ with .content.title }}
            <h2>{{ . | markdownify }}</h2>
        {{ end }}
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="contact-expertise">
        {{ with .content.subtitle }}
          <h3>{{ . | markdownify }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p>{{ . | markdownify }}</p>
        {{ end }}
          <div class="social">
            {{ with .social.twitter }}
            <a href="{{ . }}"><i class="bi bi-twitter"></i></a>
            {{ end }}
            {{ with .social.facebook }}
            <a href="{{ . }}"><i class="bi bi-facebook"></i></a>
            {{ end }}
            {{ with .social.instagram }}
            <a href="{{ . }}"><i class="bi bi-instagram"></i></a>
            {{ end }}
            {{ with .social.linkedin }}
            <a href="{{ . }}"><i class="bi bi-linkedin"></i></a>
            {{ end }}
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
        <div class="info">
          <div>
            <i class="ri-map-pin-line"></i>
            {{ with .localbusiness.address }}           
                <p>{{ . | markdownify }}</p>
            {{ end }}
          </div>

          <div>
            <i class="ri-mail-send-line"></i>
            {{ with .localbusiness.email }}
                <p>{{ . | markdownify }}}</p>
            {{ end }}
          </div>

          <div>
            <i class="ri-phone-line"></i>
            {{ with .localbusiness.tel }}
                <p>{{ . | markdownify }}</p>
            {{ end }}
          </div>

        </div>
      </div>

      <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
        <form name="contact" method="POST" data-netlify="true" class="php-email-form">
            {{ with .form }}
            <div class="form-group">
              <label>{{ .name }}</label><input class="form-control" type="text" name="name" />
            </div>
            <div class="form-group">
              <label>{{ .email }}</label><input class="form-control" type="email" name="email" />
            </div>
            <div class="form-group">
                <label>{{ .message }}</label><textarea class="form-control" name="message" rows="5" placeholder="" required></textarea>
            </div>
            <div class="text-center">
              <button type="submit">{{ .submitlabel }}</button>
            </div>
            {{ end }}
          </form>
      </div>

    </div>

  </div>
</section>
