<section id="counts" class="counts">
    <div class="container">
      <div class="row">
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
          {{ with .img}}
            <img src="{{ .url }}" alt="{{ .alt }}" class="img-fluid">
            {{ end }}
        </div>
        <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
                {{ range .proof }}
              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="{{ .emoji }}"></i>
                  <span data-purecounter-start="0" data-purecounter-end="{{ .value }}" data-purecounter-duration="1" class="purecounter"></span>
                  <p><strong>{{ .text }}</strong></p>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>