<section id="expertise" class="expertise">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        {{ with .content.title }}
            <h2>{{ . | markdownify }}</h2>
        {{ end }}
      </div>

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            {{ with .content.text1 }}
            <p><strong>{{ . | markdownify }}</strong></p>
            {{ end }}
          <ul>
            {{ range .list }} 
                <li><i class="ri-check-double-line"></i> <strong>{{ . }}</strong></li>      
           {{ end }}
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
          {{ with .content.text2 }}
            <p><strong>{{ . | markdownify }}</strong></p>
          {{ end }}
          {{ with .link }}
            <a href="{{ .url }}" class="btn-appel">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </section>