<section id="accueil" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center">
        {{ with .content.title }}
        <h1>{{ . | markdownify }}</h1>
        {{ end }}
        {{ with .content.text }}
          <h2>{{ . | markdownify }}</h2>
        {{ end }}
        <div>
          {{ with .content.link }}
            <a href="{{ .url }}" class="btn-get-started scrollto">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-6 order-2 order-lg-2 hero-img">
        {{ with .content.img }}
        <img src="{{ .url }}" class="img-fluid" alt="{{ .alt }}" width="600">
        {{ end }}
      </div>
    </div>
  </div>
</section>