<section id="clients" class="clients clients">
  <div class="container">
    <div class="row">
      {{ range .img }} 
       <div class="col-lg-3 col-md-3 col-6">        
        <img src="{{ .url }}" class="img-fluid" alt="{{ .alt }}" data-aos="zoom-in" data-aos-delay="300">
       </div>
      {{ end }}     
      </div>
    </div>
  </div>
</section>