<section id="portfolio" class="portfolio">
    <div class="container">  
      <div class="section-title" data-aos="fade-up">
        {{ with .content.title }}
            <h2>{{ . | markdownify }}</h2>
        {{ end }}
        {{ with .content.text }}
            <p><strong>{{ . | markdownify }}</strong></p>
        {{ end }}
      </div>
      <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Tous</li>

          </ul>
        </div>
      </div>
      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
        {{ range .item}}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{ .category }}|lower|replace({' ': '', 'é': 'e', 'è': 'e', 'à': 'a'}) }}">
            <div class="portfolio-wrap">
              <img src="{{ .img }}" class="img-fluid" alt="{{ .alt }}">
              <div class="portfolio-info">
                <h3>{{ .title }}</h3>
                <p>{{ .category }}</p>
                <div class="portfolio-links">
                  <a href="{{ .img }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ .title }}"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="Plus de Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>