<section id="more-services" class="more-services">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        {{ with .content.title }}
        <h2>{{ . | markdownify }}</h2>
        {{ end }}
        {{ with .content.text }}
        <p><strong>{{ . | markdownify }}</strong></p>
        {{ end }}       
      </div>

      <div class="row">
        {{ range .service }}
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("{{ .imgurl }}");' data-aos="fade-up">
              <div class="card-body">
                <h3 class="card-title"><a href="{{ .url }}">{{ .title }}</a></h3>
                <p class="card-text">{{ .description }}</p>
                <div class="read-more"><a href="{{ .url}}"><i class="bi bi-arrow-right"></i> {{ .label }}</a></div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>