<section id="equipe" class="team section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        {{ with .content.title }}
        <h2>{{ . | markdownify }}</h2>
        {{ end }}
        {{ with .content.text }}
        <p><strong>{{ . | markdownify }}</strong></p>
        {{ end }}  
      </div>

      <div class="row">
        {{ range .member }}
                <div class="col-lg-3 col-md-6 align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                    <img src="{{ .img }}" class="img-fluid" alt="{{ .alt }}">
                    <div class="social">
                        {{ with .social.twitter }}
                        <a href="{{ . }}"><i class="bi bi-twitter" aria-label="twitter account"></i></a>
                        {{ end }}
                        {{ with .social.facebook }}
                        <a href="{{ . }}"><i class="bi bi-facebook" aria-label="facebook account"></i></a>
                        {{ end }}
                        {{ with .social.instagram }}
                        <a href="{{ . }}"><i class="bi bi-instagram" aria-label="instagram account"></i></a>
                        {{ end }}
                        {{ with .social.linkedin }}
                        <a href="{{ . }}"><i class="bi bi-linkedin" aria-label="linkedin account"></i></a>
                        {{ end }}
                      </div>
                    </div>
                    <div class="member-info">
                    <h3>{{ .name }}</h3>
                    <span>{{ .job }}</span>
                    </div>
                </div>
                </div>
        {{ end }}
      </div>
    </div>
  </section>