<section id="testimonials" class="testimonials section-bg">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        {{ with .content.title }}
            <h2>{{ . | markdownify }}</h2>
        {{ end }}
        {{ with .content.text }}
            <p><strong>{{ . | markdownify }}</strong></p>
        {{ end }}
      </div>
      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          {{ range .testimonial }}
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{ .img }}" class="testimonial-img" alt="{{ .alt }}" widht="100px" height="100px">
                  <p>{{ .name }}</p>
                  <p>{{ .location }}</p>
                  {{ range seq 1 .rating }}
                    <span class="fa fa-star checked"></span>
                  {{ end }}
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{.text }}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
          {{ end }}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>