<!DOCTYPE html>
<html lang="en-us">
<head>
  {{ partial "seo.html" . }}
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
    {{ partial "script-footer.html" . }}
</body>
</html>
