  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
              Webmaster <strong><a href="https://zatchouli.fr">Zatchouli.fr</a> Copyright {{ now.Year }}. All rights reserved.</strong>
          </div>
          
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Accueil</a>
            <a href="#expertise" class="scrollto">À propos</a>
            <a href="#">Politique de Confidentialité</a>
            <a href="#">Mentions Légales</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->