<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="index.html"><h1>{{ site.Title }}</h1></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li>{{ partial "menu.html" (dict "menuID" "main" "page" .) }}</li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>