  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" onload="this.rel='stylesheet'">
  <noscript><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet"></noscript>

    <!-- Preload FCP -->
  <link rel="preload" href="css/style.css" as="style">
  <link rel="preload" as="image" href="img/img.webp" onload="this.rel='stylesheet'">

  <!-- CSS -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<!-- Critical CSS -->
<style>
  a,a:hover{text-decoration:none}.back-to-top,.navbar .dropdown ul{opacity:0;visibility:hidden;border-radius:4px}.navbar .dropdown ul,.navbar-mobile .dropdown ul{z-index:99;background:#fff;box-shadow:0 0 30px rgba(127,137,161,.25)}body{font-family:"Open Sans",sans-serif;color:#444}#accueil .btn-get-started,h1,h2,h3,h4,h5,h6{font-family:Raleway,sans-serif}a{color:#8b2635}a:hover{color:#5faee3}.back-to-top{position:fixed;right:15px;bottom:15px;z-index:996;background:#8b2635;width:40px;height:40px;transition:.4s}.back-to-top i{font-size:28px;color:#fff;line-height:0}.back-to-top:hover{background:#57aae1;color:#fff}.back-to-top.active{visibility:visible;opacity:1}@media screen and (max-width:768px){[data-aos-delay]{transition-delay:0!important}}#header{z-index:997;transition:.5s;padding:22px 0;background:#fff}#header.header-scrolled{box-shadow:0 2px 15px rgba(0,0,0,.1);padding:12px 0}#header .logo h1{font-size:30px;margin:0;padding:0;line-height:1;font-weight:700;letter-spacing:1px}#header .logo h1 a,#header .logo h1 a:hover{color:#222;text-decoration:none}#header .logo img{padding:0;margin:0;max-height:40px}.navbar{padding:0}.navbar ul{margin:0;padding:0;display:flex;list-style:none;align-items:center}.navbar li{position:relative}.navbar a,.navbar a:focus{display:flex;align-items:center;justify-content:space-between;padding:10px 0 10px 30px;font-size:15px;font-weight:400;color:#555;white-space:nowrap;transition:.3s}.navbar a i,.navbar a:focus i{font-size:12px;line-height:0;margin-left:5px}.navbar .active,.navbar .active:focus,.navbar .dropdown ul .active:hover,.navbar .dropdown ul a:hover,.navbar .dropdown ul li:hover>a,.navbar a:hover,.navbar li:hover>a,.navbar-mobile .active,.navbar-mobile .dropdown ul .active:hover,.navbar-mobile .dropdown ul a:hover,.navbar-mobile .dropdown ul li:hover>a,.navbar-mobile a:hover,.navbar-mobile li:hover>a{color:#8b2635}.navbar .getstarted,.navbar .getstarted:focus{background:#8b2635;padding:8px 25px;margin-left:30px;border-radius:50px;color:#fff}.getstarted:hover,.navbar .getstarted:focus:hover{color:#fff;background:#4aa3df}.navbar .dropdown ul{display:block;position:absolute;left:30px;top:calc(100% + 30px);margin:0;padding:10px 0;transition:.3s}.navbar .dropdown ul li,.navbar-mobile .dropdown ul li{min-width:200px}.navbar .dropdown ul a{padding:10px 20px;font-size:14px}.navbar .dropdown ul a i,.navbar-mobile .dropdown ul a i{font-size:12px}.navbar .dropdown:hover>ul{opacity:1;top:100%;visibility:visible}.navbar .dropdown .dropdown ul{top:0;left:calc(100% - 30px);visibility:hidden}.navbar .dropdown .dropdown:hover>ul{opacity:1;top:0;left:100%;visibility:visible}@media (max-width:1366px){.navbar .dropdown .dropdown ul{left:-90%}.navbar .dropdown .dropdown:hover>ul{left:-100%}}.mobile-nav-toggle{color:#222;font-size:28px;cursor:pointer;display:none;line-height:0;transition:.5s}.mobile-nav-toggle.bi-x{color:#fff}.navbar-mobile{position:fixed;overflow:hidden;top:0;right:0;left:0;bottom:0;background:rgba(9,9,9,.9);transition:.3s;z-index:999}.navbar-mobile .mobile-nav-toggle{position:absolute;top:15px;right:15px}.navbar-mobile ul{display:block;position:absolute;top:55px;right:15px;bottom:15px;left:15px;padding:10px 0;border-radius:8px;background-color:#fff;overflow-y:auto;transition:.3s}.navbar-mobile a,.navbar-mobile a:focus{padding:10px 20px;font-size:15px;color:#222}.navbar-mobile .getstarted,.navbar-mobile .getstarted:focus{margin:15px}.navbar-mobile .dropdown ul{position:static;display:none;margin:10px 20px;padding:10px 0;opacity:1;visibility:visible}.navbar-mobile .dropdown ul a{padding:10px 20px}.navbar-mobile .dropdown>.dropdown-active{display:block}#accueil{width:100%;height:70vh;margin-top:70px}#accueil h1{margin:0 0 10px;font-size:48px;font-weight:700;line-height:56px;color:#000}#accueil h2{color:#484848;margin-bottom:50px;font-size:24px}#accueil .btn-get-started{font-weight:500;font-size:16px;letter-spacing:1px;display:inline-block;padding:10px 30px;border-radius:50px;transition:.5s;color:#8b2635;border:2px solid #8b2635}#accueil .btn-get-started:hover{background:#8b2635;color:#fff}#accueil .animated{animation:2s ease-in-out infinite alternate-reverse both up-down}@media (min-width:1024px){#accueil{background-attachment:fixed}}@media (max-width:991px){.mobile-nav-toggle{display:block}.navbar ul{display:none}#accueil{height:100vh}#accueil .animated{animation:none}#accueil .accueil-img{text-align:center}#accueil .accueil-img img{width:50%}}@keyframes up-down{0%{transform:translateY(10px)}100%{transform:translateY(-10px)}}section{padding:30px 0;overflow:hidden}.section-bg{background-color:#f7fbfe}.section-title{text-align:center;padding-bottom:30px}.section-title h2{font-size:32px;font-weight:700;text-transform:uppercase;position:relative;color:#222}.section-title h2::after,.section-title h2::before{content:"";width:50px;height:2px;background:#8b2635;display:inline-block}.section-title h2::before{margin:0 15px 10px 0}.section-title h2::after{margin:0 0 10px 15px}.section-title p{margin:15px 0 0}.clients{background:#f3f9fd;padding:10px 0;text-align:center}.clients .col-lg-2{display:flex;align-items:center;justify-content:center}.clients img{width:50%;filter:grayscale(100);transition:.4s ease-in-out;display:inline-block;padding:10px 0}.clients img:hover{filter:none;transform:scale(1.1)}@media (max-width:768px){#accueil{margin-top:20px}#accueil h1{font-size:28px;line-height:36px}#accueil h2{font-size:18px;line-height:24px;margin-bottom:30px}#accueil .accueil-img img{width:70%}.clients img{width:40%}}@media (max-width:575px){#accueil .accueil-img img{width:80%}.clients img{width:30%}}
</style>

  <!-- CSS Principal -->
  <noscript><link rel="stylesheet" href="css/style.css"></noscript>