<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  {{- if .Params.slogan -}}
   {{ .Params.Title }} » {{ .Params.slogan }}
  {{- else -}}
   {{ .Site.Title }}
  {{- end -}}
</title>

  {{- if .Params.metadesc -}}
   <meta name="description" content="{{ .Params.metadesc }}" />
  {{- else -}}
   <meta name="description" content="{{ site.Params.metadesc }}" />
  {{- end -}}

  {{- if isset .Params "canonical" -}}
   <link rel="canonical" href="{{ .Params.canonical }}" />
  {{- else -}}
   <link rel="canonical" href="{{ .Permalink }}" />
  {{- end }}